* {
    --primaryColor: #161616;
    --secondaryColor: white;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    margin: 0;
    padding:0% 1%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}
img{
    width: 2.5vw;
}
#main {
    display: flex;
    align-items: center;
    margin-top:4%;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    padding-right:1%;
    padding-left: 1%;
    align-items: center;
    width: 100%;
    height: auto;

}
#icon{
    color:#66d45c;
    flex-grow:1;
    font-size: 2vw;
}

#options {
    font-size:1.3vw;
    margin: 5px 5px 5px;
    padding: 7px 14px 7px;
    border:none;
    color:#73a960;
    background:#474743;
    opacity: 70%;
    border-radius:5px;
    margin-left:1%;
    margin-right: 1.5%;
    
}
#options:active{
    background:#66d45c;
    color:black;
}
#options:hover{
    color:#66d45c;
}
span {
    font-size: 1em;
}

#container {
    display: flex;
    margin: 5px auto;
    padding: 10px;
    /* border: 2px solid red; */
    border-radius: 1rem;
    max-width: 90%;
    margin-bottom: 1rem;

}

.text {
    color: var(--secondaryColor);
    font-size: 1.5rem;
    border: 5px solid #66d45c;
    padding: 10px;
    border-radius: 2rem;
    margin-bottom: 1rem;
    max-width: 1000px;
    text-align: center;
    /* margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px); */
}

.textarea {
    /* display: none; */
    background-color: transparent;
    border: 5px solid #66d45c;
    /* resize: none; */
    margin: auto;
    color: white;
    padding: .5rem 1rem;
    font-size: 1rem;
    outline: none;
    width: 300px;
    text-align: center;
    border-radius: 2.5rem;
    height: 3rem;
}

.textarea:focus {
    border-color: #66d45c;
}

.correct {
    color: greenyellow;
}

.wrong {
    color: red;
}

.cursor {
    color: black;
    background-color: orange;
}

#timer {
    font-size: 4rem;
    margin-top: 1rem;
    color: #66d45c;
    font-weight: 900;
    text-align: center;

}

#stats {
    text-align: center;
}

#cpm {
    font-size: 2em;
}